*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    font-family: 'Inter', sans-serif;
    background-color: hsl(0, 0%, 8%);
    color: white;
}

main{
    background-color: hsl(0, 0%, 12%);
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 30rem;
    margin-block: 3rem;
    border-radius: 14px;
    padding: 2.2rem;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

img{
    border-radius: 100%;
    width: 6rem;
}

h1{
    font-size: 1.5rem;
    margin-top: 1.5rem;
    margin-bottom: 0.7rem;
}

.address{
    color: hsl(75, 94%, 57%);
    font-weight: bold;
    font-size: 0.9rem;
    margin-bottom: 1.7rem;
}

.job{
    font-size: 0.9rem;
    margin-bottom: 1.7rem;
    color: hsl(0, 0%, 84%);
}

ul{
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 1rem;
    width: 100%;
}

ul a{
    text-decoration: none;
    text-align: center;
    color: white;
    width: 100%; 
    background-color: hsl(0, 0%, 20%);
    display: block; 
    padding: 0.8rem; 
    border-radius: 10px;
    font-size: 0.8rem;
    font-weight: bold;
}

ul a:hover{
    background-color: hsl(75, 94%, 57%);
    color: hsl(0, 0%, 20%);
}

.attribution{
    font-size: 0.6rem;
}

.attribution a{
    text-align: center;
    color: hsl(75, 94%, 57%);
}